
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.App {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.header-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  background-color: #FFF;
}
.header-wrapper .logo {
  width: 50px;
}
.button-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
}
.user-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-div input, .user-div select {
  padding: 5px;
  font-size: 1.6rem;
}
.header-button {
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  color: #534a56;
  border: 1px solid #534a56;
}
.header-button.account {
  width: 75px;
}
.header-button:hover{
  color: #fff;
  border: 1px solid lightskyblue;
  background-color: lightskyblue;
}

.title-wrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.title-wrapper .logo-div {
  display: flex;
  align-items: center;
}
.title-wrapper h1 {
  font-size: 2rem;
  color: #534a56;
}
.title-wrapper h2 {
  font-size: 2rem;
  color: lightskyblue;
  margin-left: auto;
  margin-right: 20px;
}

.icon-img {
  width: 30px;
  padding: 0;
  margin: 0;
}
.code-editor-wrapper {
  width: 100%;
  display: flex;
}
.playground {
  width: 50%;
  background-color: lightskyblue;
}
.code-editor {
  height: 33.33%;
  text-align: left;
  font-size: 1.6rem;
  overflow: hidden;
  position: relative;
}
.editor-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}
.react-codemirror2 {
  max-height: calc(100% - 30px);
  overflow: auto;
}
.result {
  width: 50%;
  overflow: hidden;
}
.iframe {
  width: 100%;
  height: 100%;
  border: 2px solid  #534a56;
  border-left: none;
}